@model IEnumerable<ModelClasses.QuizModel>

@{
    ViewBag.Title = "Index";
}





<main id="main" style="padding: 60px 0;">

    <section id="services" class="services">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h3>QuizGrid | @Html.ActionLink("Create New", "Create", "Quiz")</h3>

            </header>

            <div class="row gy-4">
                @foreach (var item in Model)
            {
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-box blue">
                            <i class="ri-discuss-line icon"></i>
                            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                            <p>@Html.DisplayFor(modelItem => item.Summary)</p>
                            <a href="@Url.Action("QuizQuestionList","Quiz", new { id =  item.QuizId})" class="read-more"><span>Browse Test</span> <i class="bi bi-arrow-right"></i></a>
                            @*@Html.ActionLink("Browse Test", "QuizQuestionList", "Quiz")*@
                        </div>
                    </div>
                }

            </div>

        </div>

    </section><!-- End Services Section -->


</main>