
@{
    ViewBag.Title = "Index";
}

<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1>@ViewBag.Result</h1>
                <h1>@TempData["Result"]</h1>
            </div>
           
        </div>
    </div>

</section><!-- End Hero -->
